
<div *ngIf="!username; else forminfo">
    <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
      
          <h1>My Reactive Form</h1>
  
          <label>Name
            <input type="text" formControlName="username">
          </label>
          <div class="alert" *ngIf="!rForm.controls['username'].valid && rForm.controls['username'].touched">{{ titleAlert }}</div>
          
          <br>
          
          <label>Password
            <input type="password" formControlName="password">
          </label>
          <div class="alert" *ngIf="!rForm.controls['password'].valid && rForm.controls['password'].touched">You must specify a description that's between 30 and 500 characters.</div>
          <br>
  
          <label for="validate"></label>
          <input type="checkbox" name="rememberMe" formControlName="rememberMe" value="1"> Remember Me
          <br>

          <input type="submit" value="Submit Form" >
    </form>
  </div>
  
  <ng-template #forminfo>
    
          <h1>{{ username }}</h1>
  
          <p>{{password }}</p>
      
  </ng-template>